/* Calculator Body */
.calculator {
    width: 333px;
    height: 771px;
    background-color: rgba(42, 41, 41, 1);
    border-radius: 53px;
    box-sizing: border-box;
    justify-content: center;
}

.options{
    margin-left: 250px;
    padding-top: 25px;
  
}

#function, #convertor {
    width: 25px;
    height: 25px;
    color: aqua;
    background-color: rgba(35, 34, 34, 1);
    border: 1px solid rgba(35, 34, 34, 1);
    border-radius: 5px;
    box-shadow:  5px 5px 7px #020202,
                -5px -5px 7px #3d3d3d;
    cursor: pointer;
    transition: background-color 0.2s;
    padding: 3px;
}


/* Calculator Display Input */
#Display {
    width: 290px;
    height: 128px;
    font-size: 25px;
    margin-top: 150px;
    margin-bottom: 15px;
    margin-left: 20px;
    text-align: right;
    border: 1px solid #080808;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    box-sizing: border-box;

}


/* Calculator Buttons */
.button button {
    width: 65px;
    height: 65px;
    font-size: 16px;
    margin-bottom: 15px;
    margin-left: 12px;
    color: aqua;
    background-color: rgba(35, 34, 34, 1);
    border: 1px solid rgba(35, 34, 34, 1);
    border-radius: 15px;
    box-shadow:  5px 5px 7px #020202,
                -5px -5px 7px #3d3d3d;
    cursor: pointer;
    transition: background-color 0.2s;
}


  
#btn-C , #btn-div ,#btn--, #btn-mt, #btn-add ,#btn-del,#btn-per{
    background-color: rgba(62, 62, 62, 1);
    
}

#btn-equal{
    background-color: rgba(255, 107, 0, 1);
}

.button button:hover{
    background-color: rgba(232, 154, 154, 0.8);
    
}
#delet{
    width: 20px;
    height: 15px;
    color:rgb(0, 255, 255);

  }
  